
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
}
h2 {
	border: 1px solid black;
	padding: 5px;
	padding-right: 30px;
	padding-left: 30px;
  margin-top: 0px;
  position: relative;
  float: right;
 
}
a:hover, a:active { 
	background-color: silver;
	color: purple;
}
#car1{
	background-color: #C19A6B;
	margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: auto;
}

#car2{
	background-color: #8FBC8F;
	margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: auto;
  }
 
 #car3 {
	background-color: #BCC6CC;
	margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: auto;
}
#section1{
	background-color: #98FF98;
	color: black;
}
#section2{
	background-color: #E2F516;
	color: black;
}
#section3{
	background-color: #EBF4FA;
	color: black;

}

p {
  width: 90%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, serif;
  font-size: 115%;
  padding: 0;
  color: white;
  clear: right;
 
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border-left: 20px solid white;
    border-right: 20px solid white;
   
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border-left: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 30px solid white;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Small devices only **********/
@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
    border-left: 50px solid white;
    border-right: 50px solid white;
    border-bottom: 20px solid white;
   
   
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
